---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard.astro";
import Card from "../components/Card.astro";

const pageTitle = "My Astro Learning Blog";
const allPosts = await getCollection("posts");
---

<BaseLayout title={pageTitle}>
  <main>
    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <section>
      {
        allPosts.map((post) => (
          <PostCard
            img={post.data.image.url}
            title={post.data.title}
            href={`/posts/${post.slug}/`}
            body={post.data.description}
          />
        ))
      }
    </section>
  </main>
</BaseLayout>

<style>
  ul {
    padding: 0;
  }
  li {
    margin-bottom: 1rem;
    list-style: none;
  }
</style>
